---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---

<Layout title="Home">
	<div class="home">
		<h2>Welcome to my web site!</h2>
		<p>I'm Cecy Correa, and I'm a software engineer with a decade of experience working (mostly) on backend systems.</p>
		<p>I'm currently a Senior Software Engineer at Netlify, previously at Shopify, and I have a Master's degree in Cybersecurity from UC Berkeley.</p>
		<div class="latest-posts">
			<h2>Latest posts</h2>
			<ul>
				{
					allPosts
						.sort((a: any, b: any) => b.data.publishDate - a.data.publishDate)
						.slice(0, 3)
						.map((post: any, index: number) => (
							<li>
								<a href={`/blog/${post.slug}`}>
									{post.data.title}
									{index === 0 && <img src="/new-star.gif" />}
								</a>
							</li>
						))
					}		
				</ul>
			</div>
	</div>
</Layout>
