<footer>
	<img src="/line-separator.gif" />
	<table>
		<tr>
			<td colspan="2"><img src="/webring.gif" /></td>
		</tr>
		<tr>
			<td><a href="https://github.com/cecyc">GitHub</a></td>
			<td><a href="https://bsky.app/profile/cecy.ai">Bsky</a></td>
		</tr>
	</table>
	<img src="/madewithmacintosh.gif" />
</footer>
