<header>
	<img src="/atsign.gif" />
	<div class="tagline">
		<h1>cecy.ai*</h1>
		<p>(not really AI)</p>
	</div>
	<table class="nav">
		<tr>
			<td><a href="/">Home</a></td>
			<td><a href="/blog">Blog</a></td>
			<td><a href="/talks">Talks</a></td>
			<td><a href="/about">About</a></td>
		</tr>
	</table>
	<img src="/line-separator.gif" />
</header>
