---

---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cey Correa | Projects</title>
    <link rel="stylesheet" href="/styles/projects.css" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
